<footer>
        <div class="footer">
            <div class="upper">
                <div class="footer-div">
                    <div class="div1">
                        <img height="50px"  src="../../../../assets/kreativanlogo.png" alt="">
                        <br>
                        <p>
                            Empowering the digital frontier through <br> 
                            cutting-edge solutions, Kreativan <br> 
                            Technologies  sparks innovation, drives <br>
                            rogress, and shapes a dynamic future <br>
                            with passion, precision, and relentless <br>
                            commitment to excellence. We are the <br>
                            architects of digital transformation. With <br>
                            visionary solutions, we shape tomorrow's <br>
                            world today.
                        </p>
                    </div>
                    <div class="div2">
                        <h6>OUR SERVICES</h6>
                        <ul>
                            <li><a href="">Web Development</a></li>
                            <li><a href="">App Development</a></li>
                            <li><a href="">App Development</a></li>
                            <li><a href="">Content Writing</a></li>
                            <li><a href="">UI/UX Design</a></li>
                    </div>
                    <div class="div3">
                        <h6>CONTACT US</h6>
                        <p>Email: kreativantech@gmail.com</p>
                        <p>Address: Aeren Building, Plot No. <br>
                          14, IT Park Rd, opposite Infosys,<br>
                          Phase - I, Sector 13, Chandigarh,<br> 
                          Panchkula, Chandigarh 160101</p>
                        <p>Telephone: 8264470355</p>
                    </div>
                    <div class="div4">
                        <h6>OUR COMPANY</h6>
                        <ul>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="service.html">Services</a></li>
                            <li><a href="training.html">Training</a></li>
                            <li><a href="placement.html">Placement Drive</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div> 
                </div> 
            </div>
            <hr class="line">          
            <div class="lower">
                <div class="lower-left">
                    Kreativan Technologies
                </div>
                <div class="lower-right">
                    <ul>
                        <li><a href="">Home |</a></li>
                        <li><a href="about.html">About Us |</a></li>
                        <li><a href="service.html">Services |</a></li>
                        <li><a href="training.html">Training |</a></li>
                        <li><a href="placement.html">Placement Drive |</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer>