<header class="header">
      <div class="navbar">
        <!-- Section 1 -->
        <div class="logo">
          <a href="#"
            ><img
              src="../../../assets/WhatsApp Image 2024-02-13 at 15.15.00_d8c6e3d6.jpg "
              alt=""
              height="35"
              width="25"
          /></a>
          <a href="#"
            ><img src="../../../assets/kreativanlogo.png" alt="" height="67" width="234"
          /></a>
        </div>
        <!-- Section 2 -->
        <div class="links-section">
          <ul class="links">
            <li><a href="">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="service.html">Services</a></li>
            <li><a href="training.html">Training</a></li>
            <li><a href="placement.html">Placement Drive</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="contact.html">{{dynamic}}</a></li>
          </ul>
        </div>
        <!-- Section 3 -->
        <div class="actions">
          <a href="#" class="search_btn" onclick="toggleSearchField()">
            <i class="fas fa-solid fa-magnifying-glass"></i>
          </a>
          <a href="Registeration.html" class="register_btn">Registration Form</a>
        </div>
        <div class="toggle_btn">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>

      <div class="dropdown_menu">
        <li><a href="">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="service.html">Services</a></li>
        <li><a href="training.html">Training</a></li>
        <li><a href="placement.html">Placement Drive</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="Registeration.html" class="register_btn">Registration Form</a></li>
      </div>
    </header>